$backgroundColor: cornsilk;

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: $backgroundColor;
}

.section-header,
.name {
  text-transform: capitalize;
}

.general {
  h3,
  hr,
  .add-entry {
    display: none;
  }
}

.section,
.entry {
  position: relative;
}

.add-entry,
.entry-controls {
  position: absolute;
  right: 0px;
  top: 0px;
}

.name {
  font-size: xx-large;
  font-weight: bold;
}

.company,
.school {
  font-size: x-large;
}

.dateRange {
  display: flex;
  font-size: small;
  color: #6c757d;
}

.to::before {
  content: "-";
  margin-left: 0.4em;
  margin-right: 0.4em;
}
